.menu {
  height: -webkit-fill-available;
  width: 300px;
  border-radius: 0 25px 25px 0;
  padding: 10px;
}
.menu.small {
  width: 200px;
}
.menu-elem {
  text-align: center;
  padding: 5px;
}
.title {
  font-size: 1.5em !important;
}
.dark .title {
  text-decoration-color: rgb(165 180 252);
}
