.menu {
  height: -webkit-fill-available;
  border-radius: 0 25px 25px 0;
  padding: 10px;
  position: fixed;
}
.menu-item {
  display: flex;
  flex-direction: column;
}
.menu-elem {
  text-align: center;
  padding: 5px;
}
.dark .title {
  text-decoration-color: rgb(165 180 252);
}
