.logMenu {
  height: -webkit-fill-available;
  border-radius: 25px 0 0 25px;
  padding: 10px;
  background-color: #fff8dc;
  /* display: none; */
  position: fixed;
}
.dark .logMenu {
  background-color: #59392b;
}
.logMenu-elem {
  text-align: center;
  padding: 5px;
}
.dark .title {
  text-decoration-color: rgb(165 180 252);
}
