@import url("https://fonts.googleapis.com/css2?family=Playwrite+VN:wght@100..400&display=swap");
html {
  touch-action: pan-y;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
body {
  margin: 0;
  user-select: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html::-webkit-scrollbar {
  display: none; /* Chrome, safari & opera */
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.title {
  font-family: "Playwrite VN", serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  text-align: center;
  padding: 10px;
}
.border {
  border: solid black;
  border-width: 10px !important;
}
.fine-border {
  border: solid black;
  border-width: 2px !important;
}
.dark .border {
  border: solid #e2e8f0;
}
.small .border {
  border-width: 7px !important;
}
.dark .fine-border {
  border: solid #e2e8f0;
  border-width: 2px !important;
}
.invisible {
  visibility: hidden;
}
